<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}\internal-nlog.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<!-- the targets to write to -->
	<targets>
		<!-- write logs to file  -->
		<target xsi:type="File" name="request-time" queueLimit="10000" batchSize="1000"
				fileName="D:\Programownie\C#\Projekty\DominoAPI\DominoAPI\Logs\nlog-request-time-${shortdate}-${environment:ASPNETCORE_ENVIRONMENT}.log"
		        archiveFileName="D:\Programownie\C#\Projekty\DominoAPI\DominoAPI\Logs\nlog-request-time-${shortdate}.archive-{#}.zip"
				archiveEvery="Day" maxArchiveDays="7" archiveNumbering="DateAndSequence" enableArchiveFileCompression="True"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="exceptions" queueLimit="10000" batchSize="1000"
				fileName="D:\Programownie\C#\Projekty\DominoAPI\DominoAPI\Logs\nlog-all-exceptions-${shortdate}-${environment:ASPNETCORE_ENVIRONMENT}.log"
		        archiveFileName="D:\Programownie\C#\Projekty\DominoAPI\DominoAPI\Logs\nlog-all-exceptions-${shortdate}-${environment:ASPNETCORE_ENVIRONMENT}.archive-{#}.zip"
				archiveEvery="Day" maxArchiveDays="14" archiveNumbering="DateAndSequence" enableArchiveFileCompression="True"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

		<target xsi:type="File" name="allfile" queueLimit="10000" batchSize="1000"
				fileName="D:\Programownie\C#\Projekty\DominoAPI\DominoAPI\Logs\nlog-all-${shortdate}.-${environment:ASPNETCORE_ENVIRONMENT}.log"
		        archiveFileName="D:\Programownie\C#\Projekty\DominoAPI\DominoAPI\Logs\nlog-all-${shortdate}.-${environment:ASPNETCORE_ENVIRONMENT}.archive-{#}.zip"
				archiveEvery="Day" maxArchiveDays="3" archiveNumbering="DateAndSequence" enableArchiveFileCompression="True"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="DominoAPI.*" minlevel="Error" writeTo="exceptions" />
		<logger name="DominoAPI.Middleware.RequestTimeMiddleware" minlevel="Trace" writeTo="request-time" />
	</rules>
</nlog>